# Object files
*.o
*.ko
*.obj
*.elf

# Large files
*SCC.txt

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*~
*.mdb

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*bin/*

# For the project Algo Design
*.pdb
*.suo
*.manifest
AlgorithmDesign/AlgorithmDesign/obj/x86/Debug/*
AlgorithmDesign/packages/*
AlgorithmDesign/AlgorithmDesignTests/obj/Debug/*
AlgorithmDesign/AlgorithmDesignTests/bin/Debug/*